# Firebase Configuration
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-client-email@your-project-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"

# Server Configuration
NODE_ENV=development
PORT=3001
ALLOWED_ORIGINS=http://localhost:3000,https://tuana-dokuman.vercel.app

# Google Document AI Configuration
DOCUMENT_AI_PROJECT_ID=your-doc-ai-project-id
DOCUMENT_AI_LOCATION=us
DOCUMENT_AI_PROCESSOR_ID=your-processor-id
DOCUMENT_AI_TYPE=service_account
DOCUMENT_AI_PRIVATE_KEY_ID=your-private-key-id
DOCUMENT_AI_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
DOCUMENT_AI_CLIENT_EMAIL=your-client-email@your-doc-ai-project-id.iam.gserviceaccount.com
DOCUMENT_AI_CLIENT_ID=your-client-id
DOCUMENT_AI_AUTH_URI=https://accounts.google.com/o/oauth2/auth
DOCUMENT_AI_TOKEN_URI=https://oauth2.googleapis.com/token
DOCUMENT_AI_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
DOCUMENT_AI_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/your-client-email
DOCUMENT_AI_UNIVERSE_DOMAIN=googleapis.com
